<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        
        <menuitem id="main_menu_activity_dashboard" web_icon="activity_dashboard,static/description/dashboard.jpg" name="Activity Dashboard" sequence="0"/>


        <record id="action_activity_dashboard" model="ir.actions.client">
            <field name="name">My Activities</field>
            <field name="tag">activity_dashboard</field>
            <field name="res_model">mail.activity</field>
        </record>


        <menuitem
            id="menu_activity_dashboard"
            parent="main_menu_activity_dashboard"
            action="action_activity_dashboard"
            sequence="0"/>

    </data>
</odoo>
