.activity_dashboard{

    .box-rounded {
        border-radius: 20px!important;
    }

    .card-header:first-child {
        border-radius: 20px 20px 0 0;
    }

    .card-body:last-child {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    section {
        height: calc(100% + 40px);
    }

    .card {
        border: none;
    }

    .card .card-label {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .card svg {
        margin-top: -8px;
    }

    thead {
        background: whitesmoke;
    }

    .table > tbody {
        border-top: none!important;
    }

    tr th, tr td {
        height: 50px;
        border: none!important;
        vertical-align: middle!important;
    }

    tr:hover {
        background: #f7f7f7;
    }

    .btn-edit, .btn-remove {
        cursor: pointer;
        font-size: 14px;
        color: #673ab7;
    }

    .badge {
        font-size: 12px;
        font-weight: 700;
        padding: 4px 8px;
        border-radius: 10px;
        vertical-align: middle;
    }

    .badge.badge-success {
        background-color: #27d97314 !important;
        border: 1px solid #27d973;
        color: #27d973;
    }

    .badge.badge-warning {
        background-color: #f3a53114 !important;
        border: 1px solid #f3a531;
        color: #f3a531;
    }

    .badge.badge-danger {
        background-color: #df3c2b14 !important;
        border: 1px solid #df3c2b;
        color: #df3c2b;
    }


    // datatables
    .dataTables_filter {
        position: absolute;
        top: 15px;
        right: 150px;
    }

    .dataTables_filter label {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
    }

    .dataTables_filter input {
        width: 250px;
        height: 30px;
        margin-left: 10px;
        border: 1px solid #ced4da;
        font-size: 13px;
    }
    
    .dataTables_wrapper .dt-buttons {
        position: absolute;
        top: 5px;
        right: 20px;
        z-index: 2;
    }

    .dataTables_wrapper td.dataTables_empty {
        display: none!important;
    }

    .o_form_view .dataTables_wrapper .dt-buttons {
        top: 0px;
        right: 0px;
    }

    .dataTables_wrapper .dt-button-collection {
        position: absolute;
        margin-top: 4px!important;
        margin-left: 20px;
        width: 100px;
        background-color: white;
        border: 1px solid #dfdfdf;
        box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
    }

    .dataTables_wrapper button.dt-button.btn.buttons-collection.disabled {
        pointer-events: none;
    }

    .dataTables_wrapper .dt-button-collection > div:first-child {
        display: grid;
        padding: 5px;
    }

    .dataTables_wrapper .buttons-collection span.dt-down-arrow {
        display: none;
    }

    .dataTables_wrapper .dt-buttons button.dt-button:not(.btn) {
        display: none;
    }

    .dataTables_wrapper .dt-button-background {
        display: none!important;
    }

    .dataTables_wrapper .dt-buttons button {
        border: none;
        box-shadow: none;
        outline: none;
        font-size: 12px;
        color: #474748;
    }

    .dataTables_wrapper .dt-buttons button.btn.dt-button.dropdown.show {
        padding: 0;
    }

    .dataTables_wrapper .dt-buttons button.btn.dt-button.dropdown .dropdown-menu {
        min-width: unset;
        border-radius: 10px;
        padding: 16px 0;
    }

    .dataTables_wrapper .dt-buttons .btn.dropdown-toggle {
        display: flex;
        align-items: center;
    }

    .dataTables_wrapper .dt-buttons .btn.dropdown-toggle span {
        padding-right: 5px;
    }

    .dataTables_wrapper .dt-buttons .btn.btn-primary {
        background-color: #673ab7;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border-radius: 10px;
        padding: 12px 16px;
        border: none;
    }

    .dataTables_wrapper .dt-buttons .btn.btn-secondary {
        color: #673ab7;
        background-color: transparent;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 0px;
        border: none;
        text-transform: capitalize;
    }

    .o_list_optional_columns button.dt-button.btn.btn-secondary.btn-add-line {
        right: 40px!important;
    }

    .dataTables_wrapper .dt-buttons .btn.btn-secondary.btn-add-line {
        position: absolute;
        margin: 0;
        right: 0px;
        top: 70px;
    }

    .dataTables_wrapper .dt-buttons .btn.btn-primary:hover, 
    .dataTables_wrapper .dt-buttons .btn.btn-primary:focus, 
    .dataTables_wrapper .dt-buttons .btn.btn-primary:active {
        border: none;
        box-shadow: none;
        outline: none;
    }

    .dataTables_wrapper .dt-buttons .btn.btn-secondary:hover, 
    .dataTables_wrapper .dt-buttons .btn.btn-secondary:focus, 
    .dataTables_wrapper .dt-buttons .btn.btn-secondary:active {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
    }

    .dataTables_wrapper .dt-buttons .btn img {
        margin-right: 6px;
    }

    .dataTables_wrapper .dt-buttons > .btn {
        margin-left: 20px;
    }

    div.dataTables_info {
        position: absolute;
        right: 130px;
        color: #707070;
        font-size: 12px;
        margin-top: 20px;
        z-index: 2;
    }

    div.dataTables_paginate {
        position: absolute;
        right: 20px;
        margin-top: 20px;
        z-index: 2;
    }

    div.single-page-table {
        padding-bottom: 20px!important;
    }

    div.single-page-table div.dataTables_info, div.single-page-table div.dataTables_paginate {
        display: none;
    }

    div.dataTables_paginate ul.pagination {
        margin: 0;
    }

    div.dataTables_paginate ul.pagination li.paginate_button.page-item:first-child, 
    div.dataTables_paginate ul.pagination li.paginate_button.page-item:last-child {
        display: list-item;
        cursor: pointer;
    }

    div.dataTables_paginate ul.pagination li.paginate_button.page-item:last-child a i.fa{
        transform: rotate(180deg);
    }

    div.dataTables_paginate ul.pagination li.paginate_button.page-item:last-child a {
        padding-right: 0;
        margin-top: -1px;
    }

    div.dataTables_paginate ul.pagination li.paginate_button.page-item.disabled {
        opacity: .5;
        cursor: default;
    }

    div.dataTables_paginate li.paginate_button.page-item:not(.active) {
        display: none;
    }

    div.dataTables_paginate li.paginate_button.page-item {
        padding-top: 1px;
    }

    div.dataTables_paginate li.paginate_button.page-item .page-link {
        pointer-events: none;
        border: none!important;
        background-color: transparent!important;
        box-shadow: none!important;
        color: #707070!important;
        font-size: 12px;
        padding-bottom: 0;
        padding-top: 0;
    }

    div.dataTables_paginate .page-item .page-link i.fa.fa-chevron-left {
        color: #673ab7;
    }

    div.dataTables_footer{
        float: right;
        align-items: baseline;
    }

}