astor
dataclasses
mako
odoorpc
openpyxl
openupgradelib
sentry_sdk<=1.9.0
pyrfc6266
bokeh==3.1.1
plotly==5.13.1
lxml
xlrd
qifparse
xlsxwriter
python-dateutil
unidecode
brazilcep
email_validator
num2words
phonenumbers
workalendar
odoo_test_helper
sqlparse
deep_translator
mtranslate
brazilfiscalreport
email-validator
erpbrasil.assinatura>=1.7.0
erpbrasil.base>=2.3.0
erpbrasil.edoc.pdf
erpbrasil.edoc>=2.5.2
erpbrasil.transmissao>=1.1.0
nfelib<=2.0.7
pyyaml
# sinesp-client
# signxml
# pytrustnfe3
# pysigep
# iugu-trustcode
